<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<table id="items">
			<tr>
				<th>Item #</th>
				<th>Prob(%)</th>
				<th>Stock</th>
			</tr>
		</table>
		<br>
		<table id="color_table">

		</table>
		<br>
		<div style="text-align: center">
			<button id="run" type="button" class="btn btn-default" onclick="run()">Run</button>
		</div>
		<br>
		<div style="text-align: center">
			<button id="configuration_spawn_button" type="button" class="btn btn-default" onclick="spawn_configuration()">Reconfigure</button>
		</div>
		<br>
		<div id="num_item_select" style="text-align: center;">

		</div>
		<br>
		<form id="configure">
			<table id="item_configuration">

			</table>
			<br>
			<table id="color_configuration">

			</table>
		</form>
		<div style="text-align: center" id="submit_div">

		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<script>
        var item_request = new XMLHttpRequest();
        var config_request = new XMLHttpRequest();
        item_request.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var table = document.getElementById("items");
                var myObj = JSON.parse(this.responseText);
                var total_stock = 0;
                for(var key in myObj){
                    total_stock += Number(myObj[key]);
                }
                for(var key in myObj){
					var row_number = table.rows.length;
					var row = table.insertRow(row_number);
					var cell1 = row.insertCell(0);
					var cell2 = row.insertCell(1);
					var cell3 = row.insertCell(2);
					cell1.innerHTML = key;
					cell2.innerHTML = "" + (100*Number(myObj[key])/total_stock).toFixed(1);
					cell3.innerHTML = myObj[key];
                }
            }
        };
        config_request.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var table = document.getElementById("color_table");
                var myObj = JSON.parse(this.responseText);
                var row = table.insertRow(0);
                var cell1 = row.insertCell(0);
                cell1.innerHTML = "Spinning color";
                cell1.style.backgroundColor =rgb2hex(myObj["rgb_spinning"]["r"],myObj["rgb_spinning"]["g"],myObj["rgb_spinning"]["b"]);
                cell1.style.textAlign="center";
                var row = table.insertRow(1);
                var cell1 = row.insertCell(0);
                cell1.innerHTML = "Prize color";
                cell1.style.backgroundColor=rgb2hex(myObj["rgb_prize"]["r"],myObj["rgb_prize"]["g"],myObj["rgb_prize"]["b"]);
                cell1.style.textAlign="center";
            }
        };
        item_request.open("GET", "data.json", true);
        item_request.send();
        config_request.open("GET", "configuration.json", true);
        config_request.send();

        function spawn_configuration(){
            var item_request = new XMLHttpRequest();
            var config_request = new XMLHttpRequest();
            item_request.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var table = document.getElementById("item_configuration");
                    table.innerHTML="" +
						"<tr>" +
                        	"<th>Item #</th>" +
                        	"<th>Stock</th>" +
						"</tr>";
                    var myObj = JSON.parse(this.responseText);
					var i=1;
                    for(var key in myObj){
						var row_number = table.rows.length;
						var row = table.insertRow(row_number);
						var cell1 = row.insertCell(0);
						var cell2 = row.insertCell(1);
						cell1.innerHTML = key;
						cell2.innerHTML = "<input type=\"number\" step=\"1\" value=\""+Number(myObj[key])+"\" name=\"stock_"+i+"\" id=\"stock_"+i+"\" style=\"width: 50px; text-align: right;\">";
						i++;
                    }
                    var configuration_form = document.getElementById("num_item_select");
                    configuration_form.innerHTML = "" +
                        "<label for=\"num_items\">Number of items:</label>" +
                        "<select id=\"num_elements\">" +
                        "<option value=\"4\">4</option>" +
                        "<option value=\"6\">6</option>" +
                        "<option value=\"12\">12</option>" +
                        "</select>";
                    var num_elem_select = document.getElementById("num_elements");
                    num_elem_select.value=""+(i-1);

                    num_elem_select.onchange=function() {
                        table.innerHTML="" +
                            "<tr>" +
                            	"<th>Item #</th>" +
                            	"<th>Stock</th>" +
                            "</tr>";

                        var num_elements = num_elem_select[num_elem_select.selectedIndex].value;

                        for(var i=1;i<=num_elements;i++){
                            var row_number = table.rows.length;
                            var row = table.insertRow(row_number);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            cell1.innerHTML = i;
                            cell2.innerHTML = "<input type=\"number\" step=\"1\" value=\"0\" name=\"stock_"+i+"\" id=\"stock_"+i+"\" style=\"width: 50px; text-align: right;\">";
                        }
                    }
                    var submit_div = document.getElementById("submit_div");
                    submit_div.innerHTML="<button id=\"configuration_spawn_button\" type=\"button\" class=\"btn btn-default\" onclick=\"submit()\">Submit</button>"
                }
            };
            config_request.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var table = document.getElementById("color_configuration");
                    table.innerHTML="";
                    var myObj = JSON.parse(this.responseText);
                    var row = table.insertRow(0);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    cell1.innerHTML = "Spinning color";
                    cell1.style.textAlign="left";
                    cell2.innerHTML="<input type=\"color\" name=\"spinning_color\" value=\""+rgb2hex(myObj["rgb_spinning"]["r"],myObj["rgb_spinning"]["g"],myObj["rgb_spinning"]["b"])+"\">";
                    var row = table.insertRow(1);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    cell1.innerHTML = "Prize color";
                    cell1.style.textAlign="left";
                    cell2.innerHTML="<input type=\"color\" name=\"prize_color\" value=\""+rgb2hex(myObj["rgb_prize"]["r"],myObj["rgb_prize"]["g"],myObj["rgb_prize"]["b"])+"\">";
                }
            };
            item_request.open("GET", "data.json", true);
            item_request.send();
            config_request.open("GET", "configuration.json", true);
            config_request.send();
        }
        function run(){
            var run_request=new XMLHttpRequest();
            var run_url = "run";
            run_request.open("POST",run_url,true);
            run_request.send("");
            location.reload();
		}
        function submit() {
            var submit_request=new XMLHttpRequest();
            var submit_url = "update_items_and_colors";
            var formData = new FormData(document.getElementById("configure"));
            var formData_objectified = {};
            for (var pair of formData.entries()) {
                formData_objectified[pair[0].toString()] = pair[1];
            }
            //console.log(formData_objectified);
            var myJSON = JSON.stringify(formData_objectified);
            //console.log(myJSON);
            submit_request.open("POST",submit_url,true);
            submit_request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            submit_request.send(myJSON);
			location.reload()
        }
        function rgb2hex(red, green, blue) {
            var rgb = blue | (green << 8) | (red << 16);
            return '#' + (0x1000000 + rgb).toString(16).slice(1)
        }
	</script>
</body>
</html>